/* =======================================
    リセットCSS
======================================= */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: #000000;
}

section {
  width: 100%;
}



/* =======================================
    ヘッダー
======================================= */
header {
  width: 100%;
  height: 81px;
  /* background-color: red; */
  border-bottom: 1px solid #d9d9d9;
  border-top: 4px solid #B5DEDB;
  display: flex;
  align-items: center;
  background-color: #fff;
}

div#header_inner {
  width: 97%;
  height: 60px;
  margin: 0 auto;
  /* background-color: yellow; */
  display: flex;
}

div#header_left {
  width: 50%;
  display: flex;
  align-items: center;
}

div#header_left img {
  width: 467px;
}

div#header_left span {
  padding-left: 23px;
}

div#header_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  font-weight: bold;
}

div#japa_eng {
  line-height: 10px;
}

div#japa_eng ul {
  display: flex;
}

div#japa_eng ul li {
  padding-right: 15px;
  line-height: 20px;
  margin-top: 20px;
  height: 20px;
}

div#japa_eng ul li a {
  margin-right: 35px;
  padding-left: 15px;
  border-left: 1px solid #E9E9E9;
  color: #B9BDBD;
  text-decoration: none;
}

div#header_icon {
  margin-top: 16px;
}

div#header_icon a {
  text-decoration: none;
}

div#header_icon a:hover {
  filter: opacity(60%);
}

div#header_icon span {
  line-height: 30px;
}

a#region {
  padding-right: 25px;
  border-right: 1px solid #E9E9E9;
  color: #313131;
}

a#region img {
  padding-right: 15px;
}

a#search {
  margin: 0 25px;
}




/* =======================================
    トップナビゲーション
======================================= */
section#navigation {
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 50;
}

section#navigation nav {
  width: 100%;
}

section#navigation nav ul {
  width: 100%;
  height: px;
  display: flex;
}

section#navigation nav ul li {
  width: 206px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#navigation nav ul li a {
  width: 207px;
  height: 70px;
  display: inline-block;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
}

section#navigation nav ul li a span {
  width: 206px;
  border-left: 1px solid #E9E9E9;
  padding: 15px 0;
}

section#navigation nav ul li a:hover {
  background-color: #E9F5F4;
}





/* =======================================
    トップセクション
======================================= */
section#top_section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: #3D4342;
}

div#top_image {
  height: 700px;
  background-image: url(素材/heroVisual.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

div#top_image img {
  width: 70%;
  height: auto;
}

div.wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
}

div.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 65px 0;
  /* background-color: paleturquoise; */
}

div#top_news a {
  color: #3D4342;
  display: block;
  text-decoration: none;
}

div#top_news a:hover,
div#news_sub a:hover,
div#news_sub span:hover {
  opacity: 0.7;
}

div#top_news a dl {
  display: flex;
  border-bottom: 1px dotted #ADADAD;
  
}

dl#news_1 {
  border-top: 1px dotted #ADADAD;
  padding-top: 10px;
}

div#top_news a dl dt {
  width: 25%;
  padding: 5px;
  font-weight: normal;
}

div#top_news a dl dt span {
  color: #fff;
  background-color: black;
  font-size: 10px;
  padding: 5px 10px;
  margin-left: 20px;
  text-align: center;
  width: 131px;
  display: inline-block;
}

div#top_news a dl dd {
  padding: 5px;
}

div#top_news a dl dd img {
  margin-right: 10px;
  margin-left: 10px;
  width: 12px;
}

div#news_sub {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div#news_sub a {
  color: #3D4342;
  text-decoration: none;
  font-size: 15px;
}


div#news_sub span {
  text-align: end;
  cursor: pointer;
}

div#news_sub ul li {
  margin-bottom: 15px;
}

div#news_sub div a {
  padding-right: 20px;
  padding-bottom: 10px;
}




/* =======================================
    ビジネスセクション
======================================= */
section#business {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

div.info_top {
  width: 100%;
  height: 440px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#business_top {
  background-image: url(素材/key.jpg);
}

div.info_top::before {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
}

div.info_top h2,h3,p {
  z-index: 1;
}

div.info_top h2 {
  font-size: 22px;
  font-weight: bold;
}

div.info_top h3 {
  font-size: 38px;
  font-weight: bold;
  margin-top: 25px;
  letter-spacing: 3px;
}

div.info_top p {
  line-height: 32px;
  margin-top: 30px;
  letter-spacing: 2px;
  text-align: center;
}

div#business_int {
  width: 100%;
  height: 403px;
  display: flex;
}

div#business_int_left {
  background-image: url(素材/30641_thumbnail.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
}

div#business_int_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

div.business_container {
  width: 50%;
  height: 50%;
  background-size: cover;
  background-position: center;
}

div#top_left {
  background-image: url(素材/29910_thumbnail.jpg);
}

div#top_right {
  background-image: url(素材/thumb.jpg);

}

div#bottom_left {
  background-image: url(素材/thmub.jpg);
}

div#bottom_right {
  background-image: url(素材/KV.jpg);
}

div#business_int a,
div.aboutus_info a,
div.banner_container a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

div#business_int a::before,
div.aboutus_info a::before,
div.banner_container a::before {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  transition: all 0.5s;
}

div#business_int a:hover::before,
div.aboutus_info a:hover::before,
div.banner_container a:hover::before {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

div#business_int a dl,
div.banner_container a dl {
  width: 90%;
  z-index: 1;
}

div#business_int a dl dt,
div.banner_container a dl dt {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

div#business_int a dl dd,
div.banner_container a dl dd {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}

div#business_int a dl dd span,
div.banner_container a dl dd span {
  padding: 10px 0;
}

div.heading {
  text-align: center;
  margin-bottom: 55px;
}

div.heading h2 {
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 2px;
}

div.heading h2 span {
  border-bottom: 6px solid black;
  padding-bottom: 7px;
}

div.details {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.details_icon {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.details_icon img {
  width: 75px;
  height: 75px;
}

div.details_icon p {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

div.text_contents {
  margin-top: 50px;
}

div.text_contents p {
  font-size: 14px;
  color: #3D4342;
}

div.dd_button {
  text-align: center;
  margin-top: 70px;
}

div.dd_button a {
  display: inline-block;
  font-size: 13px;
  background-color: black;
  color: #fff;
  padding: 13px 50px;
  text-decoration: none;
}

div.dd_button a:hover {
  background-color: #fff;
  color: black;
  border: 1px solid rgb(214, 209, 209);
  transition: all 0.3s;
}




/* =======================================
    企業情報セクション
======================================= */
section#company_info {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

div#company_top {
  background-image: url(素材/mainVisual_aboutus.jpg);
}

div#aboutus {
  width: 100%;
  height: 202px;
  display: flex;

}

div.aboutus_info {
  width: 25%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

div#aboutus_message {
  background-image: url(素材/thumb-about01.jpg);
}

div#aboutus_management {
  background-image: url(素材/thumb-about02.jpg);
}

div#aboutus_company {
  background-image: url(素材/thumb-about03.jpg);
}

div#aboutus_base {
  background-image: url(素材/thumb-about04.jpg);
}

div.aboutus_info p {
  font-size: 20px;
  font-weight: bold;
}

div.details_dd {
  width: 30%;
  height: 100px;
}

div.details_dd dl {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.details_dd dl dt {
  width: 90%;
  padding: 8px 0;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

div.details_dd dl dd {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

div.details_dd dl dd span {
  font-size: 15px;
}

p#ps_text {
  width: 100%;
  text-align: end;
  padding-right: 10px;
}

p#ps_text span {
  font-size: 22px;
}




/* =======================================
    スペシャルコンテンツセクション
======================================= */
section#special_contents {
  width: 100%;
  background-color: #F5FBFB;
}

div#contents_title {
  width: 100%;
  /* background-color: peru; */
}

div#contents_title h3 {
  font-size: 20px;
  font-weight: bold;
  border-top: 1px solid #e5e5e5;
  padding-top: 30px;
}

div#contents_title h3 span {
  border-top: 1px solid black;
  padding-top: 30px;
}

div#sp_contents {
  width: 100%;
}


div#about_contents {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.contents {
  width: 25%;
  margin-top: 30px;
}

div.contents a {
  text-decoration: none;
  display: inline-block;

}

div.contents a:hover,
div#footer_contents ul li a:hover,
div#pagetop:hover {
  filter: opacity(60%);
  cursor: pointer;
}

div.contents_main {
  width: 100%;
  height: auto;
}

img.contents_image {
  width: 95%;
  height: 155px;
}

div.contents_main h4 {
  font-size: 15px;
  color: black;
  margin-top: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}

div.contents_main h4 span {
  margin-right: 10px;
}

div.contents_main h4 span img {
  width: 15px;
  
}

div.contents p {
  width: 96%;
  font-size: 13px;
  line-height: 25px;
  color: #3D4342;
}



/* =======================================
    SNSセクション
======================================= */
section#sns_wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
}

div#sns_container {
  width: 90%;
  margin: 0 auto;
  padding: 65px 0;
  display: flex;
  justify-content: center;
}

div#fb_icon a,
div#tw_icon a {
  width: 40px;
  height: 40px;
  background-color: #AAB5B5;
  display: flex;
  justify-content: center;
  margin: 0 5px;
  transition: all 0.3s;
}

div#fb_icon a:hover {
  background-color: #3B5898;
}

div#tw_icon a:hover {
  background-color: #3AA1F2;
}



div#fb_icon img {
  width: 12px;
}

div#tw_icon img {
  width: 20px;
}




/* =======================================
    バナーセクション
======================================= */
section#banner_wrapper {
  width: 100%;
  height: auto;
  position: sticky;
  bottom: 0px;
  z-index: -1;
}

div#banners {
  width: 100%;
  background-color: burlywood;
  display: flex;
}

div#aboutus_banner {
  background-image: url(素材/footer_about.jpg);
}

div#business_banner {
  background-image: url(素材/footer_business.jpg);
}

div#society_banner {
  background-image: url(素材/footer_sustainability.jpg);
}

div.banner_container {
  background-size: cover;
  width: 480px;
  height: 250px;
}





/* =======================================
    フッター
======================================= */
footer {
  width: 100%;
  height: 140px;
  margin: 0 auto;
  position: relative;
}

div.footer_container {
  width: 90%;
  margin: 0 auto;
}

div#footer_contents {
  width: 100%;
  padding: 0 30px;
}

div#footer_contents ul {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

div#footer_contents ul li {
  margin-right: 25px;
}

div#footer_contents ul li a {
  font-size: 12px;
  color: black;
  text-decoration: none;
}

div#footer_contents ul li a img {
  padding-right: 3px;
  padding-bottom: 5px;
}

div#copy_right p {
  font-size: 11px;
  padding: 0 35px;
  color: #3D4342;
}

div#pagetop {
  position: absolute;
  right: 30px;
  bottom: 30px;
  position: fixed;
  z-index: 100;
}
